*.class
*.jar
*.log
target/
build/
.maven/
.idea/
*.iml

node_modules/
dist/
.angular/
.expo/
.pnpm-debug-log

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

src-tauri/target

venv/
.venv/

.dockerignore

*.bak
.cache/

.cloudflared/
